{% extends "core/base.html" %}


{% block content %}

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Pachamama</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'fluxo_caixa_pachamama' %}">Fluxo de Caixa</a>
      <a class="nav-item nav-link" href="{% url 'resultado_pachamama' %}">Demonstração de Resultado</a>
    </div>
  </div>
</nav>

<br>
<h2>Fluxo de Caixa</h2>
<br>

<br>
<br>
<table class="table">
  <thead>
    <tr class="ui very compact table">
      <th scope="col">Periodo</th>
      <th scope="col">Jan/20</th>
      <th scope="col">Fev/20</th>
      <th scope="col">Mar/20</th>
      <th scope="col">Abr/20</th>
      <th scope="col">Mai/20</th>
      <th scope="col">Jun/20</th>
      <th scope="col">Jul/20</th>
      <th scope="col">Ago/20</th>
      <th scope="col">Set/20</th>
      <th scope="col">Out/20</th>
      <th scope="col">Nov/20</th>
      <th scope="col">dez/20</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>

    <tr class="table-primary">
      <th scope="row">Total Receita</th>
        {% for total_receita_realizado in total_receita_realizado %}
            <td> {{ total_receita_realizado }} </td>
        {% endfor %}
      <td>{{ total_receita }}</td>
    </tr>
    <tr>
      <td><a href="{% url 'list_entrada_cartao' %}">(+) Cartão</a></td>
        {% for entrada_cartao_realizado in entrada_cartao_realizado %}
            <td> {{ entrada_cartao_realizado }} </td>
        {% endfor %}
      <td></td>
    </tr>
    <tr>
      <td><a href="{% url 'list_entrada_boleto' %}">(+) Boleto</a></td>
        {% for entrada_boleto_realizado in entrada_boleto_realizado %}
            <td> {{ entrada_boleto_realizado }} </td>
        {% endfor %}
      <td>-</td>
    </tr>
    <tr>
      <td><a href="{% url 'list_entrada_rendimentos' %}">(+) Rendimentos</a></td>
        {% for entrada_rendimentos_realizado in entrada_rendimentos_realizado %}
            <td> {{ entrada_rendimentos_realizado }} </td>
        {% endfor %}
      <td>{{ total_rendimentos }}</td>
    </tr>
    <tr>
      <td><a href="{% url 'list_impostos' %}">(-) Impostos</a></td>
        {% for saida_imposto_realizado in saida_imposto_realizado %}
            <td> {{ saida_imposto_realizado }} </td>
        {% endfor %}
      <td>{{ total_impostos }}</td>
    </tr>
      <tr class="table-primary">
      <th scope="row">Custos</th>
        {% for total_custo_realizado in total_custo_realizado %}
            <td> {{ total_custo_realizado }} </td>
        {% endfor %}
      <td>{{ total_custos }}</td>
    </tr>
    <tr>
      <td><a href="{% url 'list_custo_produtos' %}">(-) Custo de Produção</a></td>
        {% for saida_custo_producao_realizado in saida_custo_producao_realizado %}
            <td> {{ saida_custo_producao_realizado }} </td>
        {% endfor %}
      <td>{{ total_custo }}</td>
    </tr>
    <tr>
      <td><a href="{% url 'list_transporte_correios' %}">(-) Transportes e Correios</a></td>
        {% for saida_trans_correios_realizado in saida_trans_correios_realizado %}
            <td> {{ saida_trans_correios_realizado }} </td>
        {% endfor %}
      <td>{{ total_trans_correios }}</td>
    </tr>
    <tr>
      <td><a href="{% url 'list_devolucoes' %}">(-) Devoluções</a></td>
        {% for saida_devolucoes_realizado in saida_devolucoes_realizado %}
            <td> {{ saida_devolucoes_realizado }} </td>
        {% endfor %}
      <td>{{ total_devolucoes }}</td>
    </tr>
    </tr>
      <tr class="table-primary">
      <th scope="row">Despesas</th>
        {% for total_despesas_realizado in total_despesas_realizado %}
            <td> {{ total_despesas_realizado }} </td>
        {% endfor %}
      <td>{{ total_despesas }}</td>
    </tr>
      <td><a href="{% url 'list_desp_folha' %}">(-) Desp. Folha</a></td>
        {% for saida_desp_folha_realizado in saida_desp_folha_realizado %}
            <td> {{ saida_desp_folha_realizado }} </td>
        {% endfor %}
      <td>{{ total_impostos }}</td>
      <td>{{ total_folha }}</td>
    </tr>
      <td><a href="{% url 'list_desp_adm' %}">(-) Desp. Adm</a></td>
        {% for saida_desp_adm_realizado in saida_desp_adm_realizado %}
            <td> {{ saida_desp_adm_realizado }} </td>
        {% endfor %}
      <td>{{ total_adm }}</td>
    </tr>
      <td><a href="{% url 'list_mkt' %}">(-) Marketing</a></td>
        {% for saida_mkt_realizado in saida_mkt_realizado %}
            <td> {{ saida_mkt_realizado }} </td>
        {% endfor %}
      <td>{{ total_marketing }}</td>
    </tr>
      <td><a href="{% url 'list_tel_fix_mov' %}">(-) Telefonia Fixa e Movel</a></td>
        {% for saida_tel_realizado in saida_tel_realizado %}
            <td> {{ saida_tel_realizado }} </td>
        {% endfor %}
      <td>{{ total_tel_fx_mv }}</td>
    </tr>
      <td><a href="{% url 'list_desp_ti' %}">(-) Despesas de TI</a></td>
        {% for saida_desp_ti_realizado in saida_desp_ti_realizado %}
            <td> {{ saida_desp_ti_realizado }} </td>
        {% endfor %}
      <td>{{ total_desp_ti }}</td>
    </tr>
      <td><a href="{% url 'list_tx_juros' %}">(-) Taxa/Juros</a></td>
        {% for saida_tx_juros_realizado in saida_tx_juros_realizado %}
            <td> {{ saida_tx_juros_realizado }} </td>
        {% endfor %}
      <td>{{ total_desp_ti }}</td>
      <td>{{ total_tx_jur }}</td>
    </tr>
    <tr class="table-secondary">
      <th scope="row">Fluxo de Caixa</th>
        {% for fluxo_de_caixa_realizado in fluxo_de_caixa_realizado %}
            <td> {{ fluxo_de_caixa_realizado }} </td>
        {% endfor %}
      <td>{{ total_fluxo_caixa  }}</td>
    </tr>
  <tr class="table-secondary">
      <th scope="row">Queima Ou Sobra de Caixa</th>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
{% endblock content %}