{% extends "core/base.html" %}

{% block content %}




<br>
<h2>Vendas</h2>
<br>

<br>
<br>
<table class="table">
  <thead>
    <tr class="table-success">
      <th scope="col">Periodo</th>
        {% for periodo_vendas in periodo_vendas %}
            <th scope="col"> {{ periodo_vendas }} </th>
        {% endfor %}
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
  {% for produtos_vendas_lista in produtos_vendas_lista %}
    <tr class="table-primary">
        <td><a href="">{{ produtos_vendas_lista }}</a></td>
  {% endfor %}
    </tr>
</table>
{% endblock content %}